.app {
  font-family: sans-serif;
  text-align: center;
}
.grid-container {
  margin-top: 20px;
  display: grid;
  border: solid 2px black;
}

.grid-item {
  aspect-ratio: 1;
  border: black solid 1px;
}
