.App {
  font-family: sans-serif;
  text-align: center;
}
.grid-container {
  margin-top: 20px;
  display: grid;
  border: solid 2px black;
}

.grid-item {
  height: 50px;
  border: black solid 1px;
}
